In [113]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.impute import KNNImputer, SimpleImputer

In [114]:
df = pd.read_csv('./train.csv', usecols=['Age','Pclass','Fare','Survived'])
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [115]:
df.isnull().mean() * 100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [116]:
X, y = df.drop(columns=['Survived']), df['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [107]:
knn = KNNImputer(n_neighbors=5, weights='uniform', add_indicator=True)

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [108]:
lr = LogisticRegression()

lr.fit(X_train_trf, y_train)
y_pred = lr.predict(X_test_trf)

acc = accuracy_score(y_test, y_pred)
acc

0.7488789237668162

In [112]:
si = SimpleImputer(strategy='mean')
X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

lr = LogisticRegression()
lr.fit(X_train_trf2, y_train)
y_pred = lr.predict(X_test_trf2)

acc = accuracy_score(y_pred, y_test)
acc

0.7354260089686099