In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [3]:
df = pd.read_csv('./titanic_toy.csv')
df.head()

    Age     Fare  Family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0

In [6]:
X_train, X_test, y_train, y_test = train_test_split(df[['Age','Fare','Family']], df['Survived'], test_size=0.3, random_state=42)

len(X_train), len(X_test), len(y_train), len(y_test)

(623, 268, 623, 268)