In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder

In [35]:
df = pd.read_csv('./customer.csv').iloc[:, 2:]
df.head(10)

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No
5  Average    School       Yes
6     Good    School        No
7     Poor    School       Yes
8  Average        UG        No
9     Good        UG       Yes

In [9]:
X_test, X_train, y_test, y_train = train_test_split(df.iloc[:, 0:2], df.iloc[:, -1])

In [46]:
# Ordinal encoding 

oe = OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])
oe.categories

[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']]

In [38]:
oe.fit(X_train)

X_train_encoded = oe.transform(X_train)
X_test_encoded = oe.transform(X_test)

X_train_encoded

array([[2., 1.],
       [0., 1.],
       [2., 1.],
       [1., 1.],
       [2., 1.],
       [1., 1.],
       [0., 2.],
       [1., 1.],
       [1., 0.],
       [0., 2.],
       [0., 0.],
       [1., 2.],
       [2., 2.]])

In [50]:
# Label Encoding
le = LabelEncoder()

le.fit(y_train)
y_train_encoded = le.transform(y_train)
y_test_encoded = le.transform(y_test)

le.classes_

array(['No', 'Yes'], dtype=object)

In [52]:
y_train_encoded

array([0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0])

In [58]:
y_train

49     No
16    Yes
11    Yes
32    Yes
9     Yes
8      No
26     No
4      No
0      No
43     No
31    Yes
21     No
3      No
Name: purchased, dtype: object