In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [6]:
df = pd.read_csv('./Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [23]:
df = df[2:]
df.head()

   Age  EstimatedSalary  Purchased
2   26            43000          0
3   27            57000          0
4   19            76000          0
5   27            58000          0
6   27            84000          0

In [36]:
X = df.iloc[:, [0,1]]
y = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [42]:
scaler = StandardScaler()

scaler.fit(X_test)

X_train_scaled = pd.DataFrame(scaler.transform(X_train), columns=X.columns)
X_test_scaled = pd.DataFrame(scaler.transform(X_test), columns=X.columns)

In [44]:
X_train_scaled.describe()

              Age  EstimatedSalary
count  298.000000       298.000000
mean     0.001167         0.227347
std      1.093092         0.916275
min     -2.014719        -1.355696
25%     -0.889749        -0.460870
50%     -0.071589         0.225857
75%      0.848841         0.669801
max      2.280621         2.390086