In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv('./covid_toy.csv')
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [3]:
df.nunique()

age          55
gender        2
fever         7
cough         2
city          4
has_covid     2
dtype: int64

In [4]:
oe = OrdinalEncoder(categories=[['Mild', 'Strong']])
cough_transformed = oe.fit_transform(df[['cough']])
cough_transformed.shape

(100, 1)

In [5]:
ohe = OneHotEncoder(drop='first', sparse_output=False)
gender_city_transformed = ohe.fit_transform(df[['gender', 'city']])
gender_city_transformed.shape

(100, 4)

In [6]:
ohe.get_feature_names_out()

array(['gender_Male', 'city_Delhi', 'city_Kolkata', 'city_Mumbai'],
      dtype=object)

In [7]:
si = SimpleImputer(strategy='median')
age_transformed = si.fit_transform(df[['age']])
age_transformed.shape

(100, 1)

In [8]:
si.get_feature_names_out()

array(['age'], dtype=object)

In [9]:
# merging them together

merged_stack = np.hstack((age_transformed, cough_transformed, gender_city_transformed))
merged_stack

array([[60.,  0.,  1.,  0.,  1.,  0.],
       [27.,  0.,  1.,  1.,  0.,  0.],
       [42.,  0.,  1.,  1.,  0.,  0.],
       [31.,  0.,  0.,  0.,  1.,  0.],
       [65.,  0.,  0.,  0.,  0.,  1.],
       [84.,  0.,  0.,  0.,  0.,  0.],
       [14.,  1.,  1.,  0.,  0.,  0.],
       [20.,  1.,  0.,  0.,  0.,  1.],
       [19.,  1.,  0.,  0.,  0.,  0.],
       [64.,  0.,  0.,  1.,  0.,  0.],
       [75.,  0.,  0.,  1.,  0.,  0.],
       [65.,  0.,  0.,  0.,  0.,  1.],
       [25.,  1.,  0.,  0.,  1.,  0.],
       [64.,  0.,  1.,  0.,  0.,  0.],
       [51.,  0.,  1.,  0.,  0.,  0.],
       [70.,  1.,  1.,  0.,  1.,  0.],
       [69.,  0.,  0.,  0.,  1.,  0.],
       [40.,  1.,  0.,  1.,  0.,  0.],
       [64.,  0.,  0.,  0.,  0.,  0.],
       [42.,  1.,  0.,  0.,  0.,  0.],
       [12.,  1.,  1.,  0.,  0.,  0.],
       [73.,  0.,  1.,  0.,  0.,  0.],
       [71.,  1.,  0.,  0.,  1.,  0.],
       [80.,  0.,  0.,  1.,  0.,  0.],
       [13.,  1.,  0.,  0.,  1.,  0.],
       [23.,  0.,  1.,  0.,  0.,  1.],
       [19.,  0.,  0.,  0.,  1.,  0.],
       [33.,  1.,  0.,  1.,  0.,  0.],
       [16.,  0.,  1.,  0.,  1.,  0.],
       [34.,  1.,  0.,  0.,  0.,  1.],
       [15.,  0.,  1.,  1.,  0.,  0.],
       [83.,  0.,  1.,  0.,  1.,  0.],
       [34.,  1.,  0.,  1.,  0.,  0.],
       [26.,  0.,  0.,  0.,  1.,  0.],
       [74.,  0.,  1.,  0.,  0.,  1.],
       [82.,  1.,  0.,  0.,  0.,  0.],
       [38.,  0.,  0.,  0.,  0.,  0.],
       [55.,  0.,  1.,  0.,  1.,  0.],
       [49.,  0.,  0.,  1.,  0.,  0.],
       [50.,  0.,  0.,  0.,  1.,  0.],
       [49.,  0.,  0.,  1.,  0.,  0.],
       [82.,  0.,  1.,  0.,  1.,  0.],
       [27.,  0.,  1.,  1.,  0.,  0.],
       [22.,  0.,  0.,  0.,  0.,  0.],
       [20.,  1.,  1.,  1.,  0.,  0.],
       [72.,  0.,  1.,  0.,  0.,  0.],
       [19.,  0.,  0.,  0.,  0.,  1.],
       [18.,  0.,  0.,  0.,  0.,  0.],
       [66.,  1.,  1.,  0.,  0.,  0.],
       [44.,  0.,  1.,  0.,  0.,  1.],
       [19.,  0.,  1.,  1.,  0.,  0.],
       [11.,  1.,  0.,  0.,  1.,  0.],
       [47.,  1.,  0.,  0.,  0.,  0.],
       [83.,  0.,  1.,  1.,  0.,  0.],
       [60.,  0.,  0.,  0.,  0.,  1.],
       [81.,  0.,  0.,  0.,  0.,  1.],
       [71.,  1.,  1.,  0.,  1.,  0.],
       [49.,  1.,  0.,  0.,  0.,  0.],
       [23.,  1.,  1.,  0.,  0.,  1.],
       [ 6.,  0.,  0.,  0.,  1.,  0.],
       [24.,  1.,  0.,  0.,  0.,  0.],
       [81.,  1.,  0.,  0.,  0.,  1.],
       [56.,  1.,  0.,  0.,  0.,  0.],
       [10.,  0.,  1.,  0.,  0.,  0.],
       [42.,  0.,  1.,  0.,  0.,  1.],
       [69.,  0.,  0.,  0.,  0.,  0.],
       [51.,  0.,  1.,  0.,  1.,  0.],
       [65.,  0.,  1.,  0.,  0.,  0.],
       [54.,  1.,  0.,  0.,  1.,  0.],
       [73.,  0.,  0.,  1.,  0.,  0.],
       [68.,  1.,  0.,  1.,  0.,  0.],
       [75.,  1.,  0.,  1.,  0.,  0.],
       [83.,  0.,  0.,  0.,  1.,  0.],
       [34.,  1.,  1.,  0.,  1.,  0.],
       [34.,  1.,  0.,  1.,  0.,  0.],
       [ 5.,  0.,  1.,  0.,  1.,  0.],
       [80.,  0.,  1.,  0.,  0.,  0.],
       [ 8.,  0.,  0.,  0.,  1.,  0.],
       [11.,  0.,  1.,  0.,  0.,  0.],
       [48.,  0.,  0.,  0.,  1.,  0.],
       [14.,  0.,  0.,  0.,  0.,  1.],
       [65.,  0.,  1.,  1.,  0.,  0.],
       [24.,  0.,  1.,  0.,  1.,  0.],
       [17.,  0.,  0.,  0.,  1.,  0.],
       [69.,  1.,  0.,  0.,  0.,  1.],
       [16.,  0.,  0.,  0.,  0.,  0.],
       [25.,  0.,  1.,  0.,  0.,  0.],
       [47.,  1.,  1.,  0.,  0.,  0.],
       [ 5.,  0.,  0.,  0.,  1.,  0.],
       [46.,  1.,  1.,  0.,  0.,  0.],
       [59.,  1.,  0.,  1.,  0.,  0.],
       [38.,  0.,  1.,  1.,  0.,  0.],
       [82.,  1.,  0.,  0.,  1.,  0.],
       [27.,  0.,  1.,  0.,  1.,  0.],
       [79.,  1.,  1.,  0.,  1.,  0.],
       [12.,  0.,  0.,  0.,  0.,  0.],
       [51.,  1.,  0.,  0.,  1.,  0.],
       [20.,  0.,  0.,  0.,  0.,  0.],
       [ 5.,  1.,  0.,  0.,  0.,  1.],
       [10.,  1.,  0.,  0.,  1.,  0.]])

In [16]:
col_names

array(['cough', 'gender_Male', 'city_Delhi', 'city_Kolkata',
       'city_Mumbai', 'age'], dtype=object)

In [18]:
# making a dataframe with the col names
col_names = np.concatenate((si.get_feature_names_out(), oe.get_feature_names_out() , ohe.get_feature_names_out(),))

pd.DataFrame(merged_stack, columns=col_names)

     age  cough  gender_Male  city_Delhi  city_Kolkata  city_Mumbai
0   60.0    0.0          1.0         0.0           1.0          0.0
1   27.0    0.0          1.0         1.0           0.0          0.0
2   42.0    0.0          1.0         1.0           0.0          0.0
3   31.0    0.0          0.0         0.0           1.0          0.0
4   65.0    0.0          0.0         0.0           0.0          1.0
..   ...    ...          ...         ...           ...          ...
95  12.0    0.0          0.0         0.0           0.0          0.0
96  51.0    1.0          0.0         0.0           1.0          0.0
97  20.0    0.0          0.0         0.0           0.0          0.0
98   5.0    1.0          0.0         0.0           0.0          1.0
99  10.0    1.0          0.0         0.0           1.0          0.0

[100 rows x 6 columns]